.root {
    -fx-background-color: #FAFAFA;
    -fx-font-family: "Roboto", sans-serif;
}

.label {
    -fx-text-fill: #212121;
    -fx-font-size: 16px;
}

.text-field, .text-area {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #212121;
    -fx-prompt-text-fill: #9E9E9E;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-color: transparent;
    -fx-border-width: 2;
}

.text-area {
    -fx-control-inner-background: #FFFFFF;
    -fx-font-family: "JetBrainsMono NF", monospace;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #FAFAFA;
    -fx-text-fill: #212121;
    -fx-background-radius: 25px;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #F5F5F5;
}

.button:pressed {
    -fx-background-color: #E0E0E0;
}


.button-bar {
    -fx-background-color: #FAFAFA;
}

.choice-box {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #212121;
    -fx-border-color: #BDBDBD;
    -fx-border-width: 2;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-padding: 5px;
    -fx-mark-color: #212121;
}

.choice-box .arrow-button .arrow {
    -fx-background-color: #212121;
}

.choice-box .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #212121;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-padding: 5px;
}

.choice-box .list-cell:hover {
    -fx-background-color: #EEEEEE;
}

.choice-box .list-cell:filled:selected, .choice-box .list-cell:filled:selected:hover {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #212121;
}

.choice-box-popup .list-view {
    -fx-background-radius: 25px;
}

.choice-box-popup .list-cell {
    -fx-background-radius: 25px;
    -fx-background-insets: 0;
    -fx-padding: 10px;
}
